<nav class="navbar superior-bar navbar-default">
	<div>
		<ul>
			<li>
				<%= link_to "Nuova discussione", new_discussion_path %>
			</li>
			<li>
				Le mie discussioni
			</li>
			<li>
				Preferiti
			</li>
		</ul>
	</div>
</nav>
<nav class="type-discussions">
	<div>
		<ul>
			<li>
				<%= link_to "Domande generali", discussions_path(discussion_type: 'Domande generali') %>
			</li>
			<li>
				<%= link_to "Gruppi di studio", discussions_path(discussion_type: 'Gruppi di studio') %>
			</li>
			<li>
				<%= link_to "Avvisi dei professori", discussions_path(discussion_type: 'Avvisi dei professori') %>
			</li>
			<li>
				<%= link_to "Materiale didattico", discussions_path(discussion_type: 'Materiale didattico') %>
			</li>
		</ul>
	</div>
	<div>
		Barra di ricerca
	</div>
</nav>
<div>
	<% if @discussions %>
		<% @discussions.each do |discussion| %>
			<h2><%= link_to discussion.title, discussion_path(discussion) %></h2>
		<% end %>
	<% else %>
	<h2> 
		Non ci sono discussioni.
	</h2>
<% end %>
</div>
<div>
	Numeri per far scorrere le pagine
</div>
