
<nav class="navbar superior-bar navbar-default row">
	<div class="col-8" id="links-superior-bar">
		<ul>
			<li>
				<%= link_to "Nuova discussione", new_discussion_path %>
			</li>
			<li>
				<%= link_to "Le mie discussioni", discussions_path(user_id: current_user.id) %>
			</li>
			<li>
				<%= link_to "Preferiti", discussions_path %>
			</li>
		</ul>
	</div>
	<div class="col-4">
		<%= form_tag(discussions_path, method: :get) do %>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag 'Cerca', name: nil%>	
		<% end %>
	</div>
</nav>
<nav class="type-discussions">
	<div class="row">
		<div class="col">
			<ul>
				<li>
					<%= link_to "Tutte le discussioni", discussions_path %>
				</li>
				<li>
					<%= link_to "Domande generali", discussions_path(discussion_type: 'Domande generali') %>
				</li>
				<li>
					<%= link_to "Gruppi di studio", discussions_path(discussion_type: 'Gruppi di studio') %>
				</li>
				<li>
					<%= link_to "Avvisi dei professori", discussions_path(discussion_type: 'Avvisi dei professori') %>
				</li>
				<li>
					<%= link_to "Materiale didattico", discussions_path(discussion_type: 'Materiale didattico') %>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div>
	<% if @discussions %>
		<% @discussions.each do |discussion| %>
			<div class="discussion-box">
				<%= link_to discussion.title, discussion_path(discussion) %>
			</div>
		<% end %>
	<% else %>
	<h2> 
		Non ci sono discussioni.
	</h2>
<% end %>
</div>
<div>
	Numeri per far scorrere le pagine
</div>