<div id="discussion-show">
	<div class="row">
		<div class="col-sm-2" id="box-name">
			<div class="row" id="user-name">
				<a href="/users/<%= @user.id %>">
					<%= @user.name %>
					<%= @user.surname%>
				</a>
			</div>
		</div>
		<div class="col-sm-10" id="show-discussion">
			<div class="row">
				<div class="col-sm-8">
					<h2> <%= @discussion.title %> </h2>
				</div>
				<div class="col-sm-4">
					<% if !@favorite %>
						<a href="favorites/<%=@discussion.id %>/add">
							<img src="<%= image_url('star-off.png') %>" width="25" height="25"></img>
						</a>
					<% else %>
						<a href="favorites/<%=@discussion.id %>/add">
							<img src="<%= image_url('star-on.png') %>" width="25" height="25"></img>
						</a>
					<% end %>
				</div>
			</div>
			<div class="row">
				<h4> <%= @discussion.discussion_type %> </h4>
			</div>
			<div class="row" id="description">
				<%= @discussion.description %>
			</div>
			<% if @discussion.file.attached? %>
				<div class="row attachment-row">
					<div class="col">
						<i class="fas fa-paperclip"></i>
						<%= link_to @discussion.file.filename, @discussion.file %>
						<div class="download-button">
							<%= link_to 'Download file', @discussion.file, download: '' %>
						</div>
					</div>
				</div>
			<% end %>
			<% if @discussion.user_id == current_user.id%>
			<div class="row attachment-row">
				<div class="manage-button">
					<%= link_to "Modifica", edit_discussion_path(@discussion)%>
				</div>
				<div class="manage-button">
					<%= link_to "Cancella", discussion_path(@discussion), method: :delete, data: {confirm: "Sei sicuro?"} %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>
<%= render :partial => 'comments/comments', locals: {comments: @comments} %>
<%= render :partial => 'comments/form_discussion' %> 
