<div id="discussion-show">
	<div class="row">
		<div class="col-sm-2" id="box-name">
			<a href="/users/<%= @user.id %>">
				<%= @user.name %>
				<%= @user.surname%>
			</a>
		</div>
		<div class="col-sm-10" id="show-discussion">
			<div class="row">
				<div class="col">
					<h2> <%= @discussion.title %> </h2>
				</div>
			</div>s
			<div class="row">
				<div class="col">
					<h4> <%= @discussion.discussion_type %> </h4>
				</div>
			</div>
			<div class="row" id="description">
				<div class="col">
					<%= @discussion.description %>
				</div>
			</div>
			<div class="row attachment-row">
			<% if @discussion.file.attached? %>
					<div class="col-3">
						<i class="fas fa-paperclip"></i>
						<%= link_to @discussion.file.filename, @discussion.file %>
						<div class="download-button">
							<%= link_to 'Download file', @discussion.file, download: '' %>
						</div>
					</div>
			<% end %>
			<% if @discussion.user_id == current_user.id%>
				<div class="col-3">
					<div class="manage-button">
						<%= link_to "Modifica", edit_discussion_path(@discussion)%>
					</div>
				</div>
				<div class="col-3">
					<div class="manage-button">
						<%= link_to "Cancella", discussion_path(@discussion), method: :delete, data: {confirm: "Sei sicuro?"} %>
					</div>
				</div>
			<% end %>
			<% if @favorite.values.length == 0 %>
			<div class="col-4">
				<a href="favorites/<%=@discussion.id %>/add">
					<img src="<%= image_url('star-off.png') %>" width="25" height="25"></img>
				</a>
			</div>
			<% else %>
			<div class="col-4">
				<a href="favorites/<%=@discussion.id %>/remove">
					<img src="<%= image_url('star-on.png') %>" width="25" height="25"></img>
				</a>
			</div>
			<% end %>
		</div>
		</div>
	</div>
</div>
<%= render :partial => 'comments/comments', locals: {comments: @comments} %>
<%= render :partial => 'comments/form_discussion' %> 
