<nav class="navbar superior-bar navbar-default">
	<div>
		<ul>
			<li>
				<%= link_to "Nuova discussione", new_discussion_path %>
			</li>
			<li>
				<%= link_to "Le mie discussioni", discussions_path(user_id: current_user.id) %>
			</li>
			<li>
				Preferiti
			</li>
		</ul>
	</div>
</nav>
<nav class="type-discussions">
	<div class="row">
		<div class="col">
			<ul>
				<li>
					<%= link_to "Tutte le discussioni", discussions_path %>
				</li>
				<li>
					<%= link_to "Domande generali", discussions_path(discussion_type: 'Domande generali') %>
				</li>
				<li>
					<%= link_to "Gruppi di studio", groups_path %>
				</li>
				<li>
					<%= link_to "Avvisi dei professori", discussions_path(discussion_type: 'Avvisi dei professori') %>
				</li>
				<li>
					<%= link_to "Materiale didattico", discussions_path(discussion_type: 'Materiale didattico') %>
				</li>
			</ul>
		</div>
		<div class="col">
			<%= link_to "Crea Gruppo", new_group_path %>
		</div>
		<div class="col">
			<%= form_tag(discussions_path, method: :get) do %>
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag 'Cerca', name: nil%>	
			<% end %>
		</div>
	</div>
</nav>

<div>
	<%if @my_groups %>
		<h1>
			I tuoi gruppi:
		</h1>
		<% @my_groups.each do |my_group|%>
			<h2><%= link_to my_group[1] , group_path(my_group[0])%></h2>
		<%end%>
	<% else %>
		<h2>
			Non sei iscritto ancora a nessun gruppo.
		</h2>
	<% end %>
</div>
<div>
	<% if @groups %>
	<div class="row">
		<div class = "col">
			<div class = "row">
				<div class = "col">
					<h1>
						Gruppi:
					</h1>
				</div>
			</div>
			<% @groups.each do |group| %>
			<div class = "row">
				<div class="col">
					<h2><%= group.name %></h2>
				</div>
				<div class = "col">
					
				</div>
			</div>
			<% end %>
		</div>
	</div>
	<% else %>
		<h2> 
			Non ci sono gruppi.
		</h2>
	<% end %>
</div>
<div>
	Numeri per far scorrere le pagine
</div>
