<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <% if !@user.avatar.attached? %>
                        <img src="<%= image_url('missing.png') %>" width="50" height="50" ></img>
                    <% else %>
                        <%= image_tag(url_for(@user.avatar)) %>
                    <% end %>
                </div>
            </div>
            <div class="col-md-5">
                <div class="profile-head">
                    <h5>
                        <%= @user.name %> <%= @user.surname %> 
                    </h5>
                    <h6>
                        <% if @user.is_professor %>
                            Professore
                        <% else %>
                            Studente
                        <% end %>
                    </h6>
                    <% if @user == current_user %>
                    <p class="proile-rating">
                        Creazione profilo: <%= @user.created_at.strftime("%d %B %Y") %><br>
                        Ultima modifica:   <%= @user.updated_at.strftime("%d %B %Y") %>
                    </p>
                    <% end %>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Dati Personali</a>
                        </li>
                    </ul>
                </div>
            </div>
            <% if @user == current_user %>
                <div class="col-md-3">
                  <%= link_to "Modifica dati", edit_user_registration_path, class: "btn btn-info" %>
                </div>
            <% end %>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nome</label>
                            </div>
                            <div class="col-md-6">
                                <p><%= @user.name %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Cognome</label>
                            </div>
                            <div class="col-md-6">
                                <p><%= @user.surname %></p>
                            </div>
                        </div>
                        <% if !@user.is_professor %>                                    
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Indirizzo</label>
                                </div>
                                <div class="col-md-6">
                                    <p><%= @user.address %></p>
                                </div>
                            </div>
                        <% end %>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Città</label>
                            </div>
                            <div class="col-md-6">
                                <p><%= @user.city %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Provincia</label>
                            </div>
                            <div class="col-md-6">
                                <p><%= @user.province %></p>
                            </div>
                        </div>
                        <% if !@user.is_professor %>   
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Numero di telefono</label>
                                </div>
                                <div class="col-md-6">
                                    <p><%= @user.telephone_number %></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Numero di matricola</label>
                                </div>
                                <div class="col-md-6">
                                    <p><%= @user.badge_number %></p>
                                </div>
                            </div>
                        <% end %>
                        <div class="row">
                          <div class="col-md-6">
                              <label>Email</label>
                          </div>
                          <div class="col-md-6">
                              <p><%= @user.email %></p>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </form>           
</div>