<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <%= image_tag(current_user.avatar.url(:medium), unless: current_user.avatar.nil?) %>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        <%= @user.name %> <%= @user.surname %> 
                    </h5>
                    <h6>
                        <%= @course.name %>
                    </h6>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Info Personali</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Info Universitarie</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
            	<%= link_to "Modifica dati", edit_user_registration_path, class: "btn btn-info" %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>WORK LINK</p>
                    <a href="">Website Link</a><br/>
                    <a href="">Bootsnipp Profile</a><br/>
                    <a href="">Bootply Profile</a>
                    <p>SKILLS</p>
                    <a href="">Web Designer</a><br/>
                    <a href="">Web Developer</a><br/>
                    <a href="">WordPress</a><br/>
                    <a href="">WooCommerce</a><br/>
                    <a href="">PHP, .Net</a><br/>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Nome</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= @user.name %></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Cognome</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= @user.surname %></p>
                                    </div>
                                </div>                                    
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Indirizzo</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= @user.address %></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Città</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= @user.city %></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Provincia</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= @user.province %></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Numero di telefono</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= @user.telephone_number %></p>
                                    </div>
                                </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    	<div class="row">
                            <div class="col-md-6">
                                <label>Numero di matricola</label>
                            </div>
                            <div class="col-md-6">
                                <p><%= @user.badge_number %></p>
                            </div>
                        </div>
                        <div class="row">
                        	<div class="col-md-6">
                            	<label>Email</label>
                        	</div>
                        	<div class="col-md-6">
                           		<p><%= @user.email %></p>
                        	</div>
                    	</div>
                    	<div class="row">
                        	<div class="col-md-6">
                            	<label>Attuale Corso di Studio</label>
                        	</div>
                        	<div class="col-md-6">
                           		<p><%= @course.name %></p>
                        	</div>
                    	</div>
                    	<div class="row">
                        	<div class="col-md-6">
                            	<label>Tipologia corso</label>
                        	</div>
                        	<div class="col-md-6">
                           		<p><%= @course.typology%></p>
                        	</div>
                    	</div>
                    </div>
                </div>
            </div>
        </div>
    </form>           
</div>
