<div class="container emp-profile">
	<%= @course.name %><br>
	<h2>Primo Anno</h2>
	Primo Semestre
	<table border="1">
		<tr>
			<td> Esame </td>
			<td> Crediti </td>
		</tr>
		<% @course.subjects.each do | cs | %>
			<% if cs.year == 1 %>
				<%if cs.semester == 1 %>
					<tr>
						<td><%= cs.name %></td>
						<td><%= cs.cfu %></td>
					</tr>
				<% end %>
			<% end %>
		<% end %>
	</table>
	Secondo Semestre
	<table border="1">
		<tr>
			<td> Esame </td>
			<td> Crediti </td>
		</tr>
		<% @course.subjects.each do | cs | %>
			<% if cs.year == 1 %>
				<%if cs.semester == 2 %>
					<tr>
						<td><%= cs.name %></td>
						<td><%= cs.cfu %></td>
					</tr>
				<% end %>
			<% end %>
		<% end %>
	</table>
	<h2>Secondo Anno</h2>
	Primo Semestre
	<table border="1">
		<tr>
			<td> Esame </td>
			<td> Crediti </td>
		</tr>
		<% @course.subjects.each do | cs | %>
			<% if cs.year == 2 %>
				<%if cs.semester == 1 %>
					<tr>
						<td><%= cs.name %></td>
						<td><%= cs.cfu %></td>
					</tr>
				<% end %>
			<% end %>
		<% end %>
	</table>
	Secondo Semestre
	<table border="1">
		<tr>
			<td> Esame </td>
			<td> Crediti </td>
		</tr>
		<% @course.subjects.each do | cs | %>
			<% if cs.year == 2 %>
				<%if cs.semester == 2 %>
					<tr>
						<td><%= cs.name %></td>
						<td><%= cs.cfu %></td>
					</tr>
				<% end %>
			<% end %>
		<% end %>
	</table>
	<% if @course.typology == "triennale" %>
		<h2>Terzo Anno</h2>
		Primo Semestre
		<table border="1">
			<tr>
				<td> Esame </td>
				<td> Crediti </td>
			</tr>
			<% @course.subjects.each do | cs | %>
				<% if cs.year == 3 %>
					<%if cs.semester == 1 %>
						<tr>
							<td><%= cs.name %></td>
							<td><%= cs.cfu %></td>
						</tr>
					<% end %>
				<% end %>
			<% end %>
		</table>
		Secondo Semestre
		<table border="1">
			<tr>
				<td> Esame </td>
				<td> Crediti </td>
			</tr>
			<% @course.subjects.each do | cs | %>
				<% if cs.year == 3 %>
					<%if cs.semester == 2 %>
						<tr>
							<td><%= cs.name %></td>
							<td><%= cs.cfu %></td>
						</tr>
					<% end %>
				<% end %>
			<% end %>
		</table>
	<% end %>
</div>