<div class="center">
	<div class="col-md-6">
		<div class="new-post-form">
			<center><h2>Recupero password</h2></center><br>
			<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
			  <%= f.error_notification %>
			  <div class="form-inputs">
			    <%= f.input :email, required: true, autofocus: true %>
			  </div>
			  <div class="form-actions">
			    <%= f.button :submit, "Inviami istruzioni", class: "btn btn-info" %>
			  </div>
			<% end %>
			<br><u><%= render "devise/shared/links" %></u>
		</div>
	</div>
</div>
