<div class="row search-bar">
  <div class="col-md-6">
    <a class="btn btn-secondary dropdown-toggle hide-arrow course-button" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Corso di Studio
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <%= link_to "Tutte i corsi", subjects_path, class: "link" %><br>
    <% Course.all.each do |course| %>
      <%= link_to course.name, subjects_path(course: course.name), class: "link" %><br>
    <% end %>
  </div>
  </div>
  <div class="col-md-6">
    <form action="/subjects">
  		<input type="text" placeholder="Cerca.." name="search">
  		<button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>
<% if @subjects.count == 0 %>
	<h4>Non ci sono materie per questo corso di studio.</h4>
<% else %>
<div id="course-list">
  <ul>
  	<% @subjects.each do |subject| %>
    		<a href="/subjects/<%= subject[0] %>">
    		  <li><b><%= subject[0] %></b> di <%= subject[1] %> <%= subject[2] %></li>
    		</a>
  	<% end %>
  </ul>
</div>
<% end %>

