Corso: <%= @subject.name %><br>
CFU: <%= @subject.cfu %><br>
Descrizione corso: <%= @subject.description %><br>
Numero lezioni: <%= @subject.duration %><br>
Professore: <br><br>
<% if user_signed_in? %>
	<% if !@followed %>
  		<a href="<%= @subject.id %>/follow"> Segui </a>
  	<% else %>
  		<a> Non seguire più </a>
  	<% end %>
<% end %>