<div id="detail-course">
	<div class="row align-center">
		<div class="col-md-4 detail">
			Dettagli del corso
		</div>
		<div class="col">
			<div class="row align-center">
				<div class="col">
					Corso: <%= @subject.name %>
				</div>
			</div>
			<div class="row align-center">
				<div class="col">
					CFU: <%= @subject.cfu %>
				</div>
			</div>
			<div class="row align-center">
				<div class="col">
					Descrizione corso: <%= @subject.description %>
				</div>
			</div>
			<div class="row align-center">
				<div class="col">
					Numero lezioni: <%= @subject.duration %>
				</div>
			</div>
			<div class="row align-center">
				<div class="col">		
					Professore: <%= link_to @prof.name , user_path(@prof.id)%> <%= link_to @prof.surname , user_path(@prof.id)%>
				</div>
			</div>
		</div>
	</div>
</div>

<% if user_signed_in? %>
	<% if !current_user.is_professor %>
		<% if @followed.values.length == 0 %>
		<div class="align-center">
			<div id="follow">
		  	<a href="<%= @subject.id %>/follow"> Segui </a>
		  </div>
		</div>
		  <% else %>
		  <div class="align-center">
			  <div id="unfollow">
			  	<a href="<%= @subject.id %>/unfollow"> Non seguire più </a>
			  </div>
			</div>
	  <% end %>
	<% end %>
<% end %> 

<% if current_user.id == @subject.user_id %>
	<%= render :partial => 'announcements/form' %> 
<% end %>

<% if @followed or current_user.id == @subject.user_id %>
	<%= render @subject.announcements %>
<% end %>