<center><h2>Le tue Lezioni</h2></center>
<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Corso
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <%= link_to "Tutte i tuoi corsi", lessons_path, class: "link" %><br>
    <% @subjects.each do |subject| %>
      <li class="<% 'active' if params[:subject] == subject.name %>">
        	<%= link_to subject.name, lessons_path(subject: subject.name), class: "link" %>
    	</li>
    <% end %>
  </div>
<% if @mylessons.count == 0 %>
	<h4>Non ci sono lezioni previste.</h4>
<% else %>
	<% @mylessons.each do |lesson| %>
		<div class="boxed">
			<%= lesson.date.strftime("%B %d, %Y") %>
			<br>Aula <%= lesson.classroom %>
			(<%= lesson.building %>)
			<br>Argomento: "<%= lesson.topic %>"<br>
			<a href="/lessons/<%= lesson.id %>">
				Dettagli
			</a>
			<%= link_to "Modifica", edit_lesson_path(lesson), class: "btn btn-custom" %>
			<%= link_to "Elimina", lesson_path(lesson), method: :delete, data: { confirm: "Confermi?" }, class: "btn btn-custom" %>
		</div>
	<% end %>
<% end %>
<%= link_to "Crea nuova lezione", new_lesson_path %>


