<h1> Modifica post </h1>

<%= simple_form_for @post, :html => { :multipart => true } do |f| %>
	<%= f.select :category_id, @categories%>
	<%= f.input  :titolo, label: "Titolo" %>
	<%= f.input  :contenuto, label: "Testo" %>
	<%= f.button :submit %>

<% end %>